extends layout

block content
  .row
    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
        each Customer in customers
          .col-xs-12.list-group-item
              Customer.FirstName
              Customer.LastName
              Customer.Phone
